<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">MOOCA
            <i class="fas fa-graduation-cap"></i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link <%= path === '/' ? 'active' : '' %>" href="/">Home
                        <!-- <span class="sr-only">(current)</span> -->
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= path === '/courselists' ? 'active' : '' %>" href="/courselists">Courses</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Analysis
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item <%= path === '/courseAnalysis' ? 'active' : '' %>" href="/courseAnalysis">Courses Clustering</a>
                        <a class="dropdown-item <%= path === '/learnerAnalysis' ? 'active' : '' %>" href="/learnerAnalysis">Learners Clustering</a>
                        <a class="dropdown-item <%= path === '/relationship' ? 'active' : '' %>" href="/relationship">Relationship</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= path === '/recommendation' ? 'active' : '' %>" href="/recommendation">Recommendation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= path === '/import' ? 'active' : '' %>" href="/import">Import</a>
                </li>
            </ul>
        </div>
    </nav>
</header>