<%- include('includes/head.ejs') %>

  </head>

  <body>
    <%- include('includes/navigation.ejs') %>


      <div class="container">
        <br>
        <nav id="navbar-example2" class="navbar navbar-light bg-light">
          <a class="navbar-brand" href="#">
            <h2 class="text-default"><i class="fas fa-chart-pie text-default"></i> Course Visualization</h2>            
          </a>
          
          <ul class="nav nav-pills">
            <li class="nav-item">
              <div class="dropdown">
              <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Course
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">HTML and CSS</button>
                <button class="dropdown-item" type="button">Python Programming</button>
                <button class="dropdown-item" type="button">Big Data</button>
              </div>
            </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#cs" title="Course Structure">
                <i class="fas fa-chalkboard-teacher fa-2x text-info"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#le" title="Learners' Engagement">
                <i class="fas fa-user-graduate fa-2x text-success"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#ci" title="Course Information">
                  <i class="fas fa-list-ul fa-2x text-light"></i>
              </a>
            </li>
          </ul>
        </nav>
        <br>
        <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
          
          <h4 id="cs" class="text-info"><i class="fas fa-chalkboard-teacher fa-1x text-info"></i> Course Structure</h4>
          <div id="structure"></div>
                  
          <h4 id="le" class="text-success"><i class="fas fa-user-graduate fa-1x text-success"></i> Learners' Engagement</h4>
          <div id="learners"></div>
          <br>
          <h4 id="ci" class="text-primary"><i class="fas fa-list-ul fa-1x text-primary"></i> Course Information</h4>
          <br>  
          <!-- information -->
          <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="courseinfo-tab" data-toggle="tab" href="#courseinfo" role="tab" aria-controls="courseinfo"
                  aria-selected="true">Course Information</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="analysis-tab" data-toggle="tab" href="#analysis" role="tab" aria-controls="analysis" aria-selected="false">Analysis</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="components-tab" data-toggle="tab" href="#components" role="tab" aria-controls="components" aria-selected="false">Components</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="learner-tab" data-toggle="tab" href="#learner" role="tab" aria-controls="learner" aria-selected="false">Learner</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active" id="courseinfo" role="tabpanel" aria-labelledby="courseinfo-tab">                  
                  <ul class="list-group">
                      <li class="list-group-item"><b>Course Name: </b> <%= course.courseName %></li>
                      <li class="list-group-item"><b>Course Number: </b><%= course.courseNumber %></li>
                      <li class="list-group-item"><b>Course Description: </b><%= course.description %></li>
                      <li class="list-group-item"><b>Pass Rate: </b><%= course.passRate %></li>
                      <li class="list-group-item"><b>Subject Area: </b><%= course.subjectArea %></li>
                      <li class="list-group-item"><b>Registered: </b><%= course.registered %></li>
                  </ul>
              </div>
              <div class="tab-pane" id="analysis" role="tabpanel" aria-labelledby="analysis-tab">
                  <ul class="list-group">
                      <li class="list-group-item"><b>Course Length Clustering: </b> C_L3 <%= course.cLength %></li>
                      <li class="list-group-item"><b>Course Bloom's Taxonomy Clustering: </b> C_B1 <%= course.cBloom %></li>
                      <li class="list-group-item"><b>Times Conponents Clustering: </b> C_T1 Videos</li>
                      <li class="list-group-item"><b>Sequence Conponents Clustering: </b> C_S1 discussion->chapter, video->video</li>
                  </ul>
                
              </div>
              <div class="tab-pane" id="components" role="tabpanel" aria-labelledby="components-tab">
                  <ul class="list-group">
                      <li class="list-group-item"><b>Chapter: </b> 16 (16.16%)</li>
                      <li class="list-group-item"><b>Video: </b> 72 (72.73%)</li>
                      <li class="list-group-item"><b>HTML: </b> 3 (3.03%)</li>
                      <li class="list-group-item"><b>Discussion: </b> 7 (7.07%)</li>
                      <li class="list-group-item"><b>Problem: </b> 1 (1.01%)</li>
                      <li class="list-group-item"><b>Total Components: </b> 99</li>
                  </ul>
              </div>

              <div class="tab-pane" id="learner" role="tabpanel" aria-labelledby="learner-tab">
                  <ul class="list-group">
                      <li class="list-group-item"><b>Passing Learners: </b> 154 (12.68%)</li>
                      <li class="list-group-item"><b>Not Passing Learners: </b> 1049 (87.20%)</li>
                      <li class="list-group-item"><b>Sampling Learners: </b> 945 (78.55%)</li>
                      <li class="list-group-item"><b>Targeting Learners: </b> 88 (7.32%)</li>
                      <li class="list-group-item"><b>Comprehensive Learners: </b> 170 (14.13%)</li>
                      <li class="list-group-item"><b>Total Learners: </b> 1203</li>
                  </ul>
              </div>
            </div>
          </div>

        </div>


      </div>

      <script>

        // Course Structure
        Plotly.d3.csv("data/CSV/cu005.csv", function (err, rows) {
          function unpack(rows, key) {
            return rows.map(function (row) { return row[key]; });
          }

          var chapter = {
            x: unpack(rows, 'chapter_indx'),
            y: unpack(rows, 'chapter_indy'),
            name: 'Chapter',
            text: unpack(rows, 'chapter_name'),
            type: 'scatter',
            mode: 'markers',
            marker: { size: 15, symbol: 'line-ns-open', color: 'DarkGray' }
          };

          var video = {
            x: unpack(rows, 'video_indx'),
            y: unpack(rows, 'video_indy'),
            name: 'video',
            text: unpack(rows, 'video_name'),
            type: 'scatter',
            mode: 'markers',
            marker: { size: 15, symbol: 'circle', color: 'green' }
          };

          var html = {
            x: unpack(rows, 'html_indx'),
            y: unpack(rows, 'html_indy'),
            name: 'html',
            text: unpack(rows, 'html_name'),
            type: 'scatter',
            mode: 'markers',
            marker: { size: 15, symbol: 'triangle-up', color: 'orange' }
          };

          var discussion = {
            x: unpack(rows, 'discussion_indx'),
            y: unpack(rows, 'discussion_indy'),
            name: 'discussion',
            text: unpack(rows, 'discussion_name'),
            type: 'scatter',
            mode: 'markers',
            marker: { size: 15, symbol: 'pentagon', color: 'red' }
          };

          var problem = {
            x: unpack(rows, 'problem_indx'),
            y: unpack(rows, 'problem_indy'),
            name: 'problem',
            text: unpack(rows, 'problem_name'),
            type: 'scatter',
            mode: 'markers',
            marker: { size: 15, symbol: 'diamond-tall', color: 'blue' }
          };

          var data = [chapter, video, html, discussion, problem];

          var layout = {
            xaxis: {
              range: [-5.85, 112.07]
            },
            yaxis: {
              range: [0, 2]
            },
            title: 'HTML & CSS'
          };

          Plotly.newPlot('structure', data, layout);
        });

        // Learners

        Plotly.d3.csv("data/CSV/cu005_problemAttempt.csv", function (err, rows) {
          function unpack(rows, key) {
            return rows.map(function (row) { return row[key]; });
          }
          var learner1 = {
            x: unpack(rows, 'name'),
            y: unpack(rows, 'not attempted'),
            name: 'Not Attempted',
            text: unpack(rows, 'text'),
            type: 'bar',
            marker: { color: 'red' }
          };

          var learner2 = {
            x: unpack(rows, 'name'),
            y: unpack(rows, 'attempted'),
            name: 'Attempted',
            text: unpack(rows, 'text'),
            type: 'bar',
            marker: { color: 'green' }
          };

          var data2 = [learner1, learner2];

          var layout = { barmode: 'stack' };

          Plotly.newPlot('learners', data2, layout);
        });



      </script>


      <%- include('includes/end.ejs') %>