<%- include('includes/head.ejs') %>
  <style>
    #metadata {
      text-decoration: underline;
    }
  </style>
  </head>

  <body>
    <%- include('includes/navigation.ejs') %>

      <nav id="navbar-example2" class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <h3 class="text-info">
            <i class="fas fa-chart-pie text-info"></i> Course Visualization</h3>
        </a>

        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="#cs" title="Course Structure">
              <i class="fas fa-chalkboard-teacher fa-2x text-dark"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#le" title="Learners' Engagement">
              <i class="fas fa-user-graduate fa-2x text-success"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#ci" title="Course Information">
              <i class="fas fa-list-ul fa-2x text-light"></i>
            </a>
          </li>
        </ul>
      </nav>
      <div class="container">
        <br>
        <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">

          <h4 id="cs" class="text-dark">
            <i class="fas fa-chalkboard-teacher fa-1x text-dark"></i> Course Structure</h4>
          <div id="structure"></div>

          <h4 id="le" class="text-success">
            <i class="fas fa-user-graduate fa-1x text-success"></i> Learners' Engagement</h4>
          <div id="learners"></div>
          <br>
          <h4 id="ci" class="text-primary">
            <i class="fas fa-list-ul fa-1x text-primary"></i> Course Information</h4>
          <br>
          <!-- information -->
          <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="courseinfo-tab" data-toggle="tab" href="#courseinfo" role="tab" aria-controls="courseinfo"
                  aria-selected="true">
                  <i class="fas fa-book-open"></i> Course Information</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="courselength-tab" data-toggle="tab" href="#courselength" role="tab" aria-controls="courselength"
                  aria-selected="false">
                  <i class="fas fa-database"></i> Course Metadata</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="analysis-tab" data-toggle="tab" href="#analysis" role="tab" aria-controls="analysis" aria-selected="false">
                  <i class="far fa-comment"></i> Analysis & Recommendation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="learner-tab" data-toggle="tab" href="#learner" role="tab" aria-controls="learner" aria-selected="false">
                  <i class="fas fa-user-graduate"></i> Learners</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active" id="courseinfo" role="tabpanel" aria-labelledby="courseinfo-tab">
                <ul class="list-group">
                  <li class="list-group-item">
                    <b>Course Number: </b>
                    <%= course.courseNumber %>
                  </li>
                  <li class="list-group-item">
                    <b>Course Name: </b>
                    <%= course.courseName %>
                  </li>
                  <li class="list-group-item">
                    <b>Passing Rate: </b>
                    <%= course.passRate %> %
                  </li>
                  <li class="list-group-item">
                    <b>Subject Area: </b>
                    <%= course.subjectArea %>
                  </li>
                  <li class="list-group-item">
                    <b>Registered Learners: </b>
                    <%= course.registered %>
                  </li>
                </ul>
              </div>

              <div class="tab-pane" id="courselength" role="tabpanel" aria-labelledby="courselength-tab">
                <ul class="list-group">

                  <li class="list-group-item">
                    <h5 id="metadata">Course Length</h5>
                    <div class="row">
                      <div class="col-md-6">
                        <b>Total Hours: </b>
                        <%= course.totalHour %> Hours
                      </div>
                      <div class="col-md-6">
                        <b>Effort: </b>
                        <%= course.effort %> Hours/Week
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <h5 id="metadata">Bloom's Taxonomy</h5>
                    <div class="row">
                      <div class="col-md-6">
                        <b>remember: </b>
                        <%= course.remember %> %
                      </div>
                      <div class="col-md-6">
                        <b>analyze: </b>
                        <%= course.analyze %> %
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <b>understand: </b>
                        <%= course.understand %> %
                      </div>
                      <div class="col-md-6">
                        <b>evaluate: </b>
                        <%= course.evaluate %> %
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <b>apply: </b>
                        <%= course.apply %> %
                      </div>
                      <div class="col-md-6">
                        <b>create: </b>
                        <%= course.create %> %
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <h5 id="metadata">Components</h5>
                    <div class="row">
                      <div class="col-md-6">
                        <b>Chapter: </b>
                        <%= course.chapter %> %
                      </div>
                      <div class="col-md-6">
                        <b>Discussion: </b>
                        <%= course.discussion %> %
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <b>Video: </b>
                        <%= course.video %> %
                      </div>
                      <div class="col-md-6">
                        <b>Problem: </b>
                        <%= course.problem %> %
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <b>HTML: </b>
                        <%= course.html %> %
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="tab-pane" id="analysis" role="tabpanel" aria-labelledby="analysis-tab">

                <!-- Table Clustering -->
                <table class="table table-hover">
                  <thead style="text-align: center" class=" bg-info text-light">
                    <tr>
                      <th scope="col">Dimension</th>
                      <th scope="col">Cluster</th>
                      <th scope="col">Cluster Name</th>
                      <th scope="col">Recommendation</th>

                    </tr>
                  </thead>
                  <tbody style="text-align: center">
                    <tr>
                      <th scope="row">Course Length & Effort</th>
                      <% if (course.cLength === '[0]') { %>
                      <td>C_L3</td>
                      <td>Short Courses</td>
                      <td>You should consider customizing your courses into Medium Courses
                          by increasing effort and total hour.</td>
                      <% } else if (course.cLength === '[1]') {%>
                      <td>C_L1</td>
                      <td>Long Courses </td>
                      <td>You should consider customizing your courses
                          into Medium Courses by decreasing effort and total hour.</td>
                      <% } else {%>
                      <td>C_L2</td>
                      <td>Medium Courses</td>
                      <td>You are already in the good cluster.</td>
                      <% } %>
                    </tr>
                    <tr>
                      <th scope="row">Bloom's Taxonomy</th>
                      <% if (course.cBloom === '[0]') { %>
                        <td>C_B4</td>
                        <td>Applying-focus</td>
                        <td>You are already in the good cluster.</td>
                        <% } else if (course.cBloom === '[1]') {%>
                        <td>C_B1</td>
                        <td>Understanding-focus</td>
                        <td>You should concentrate on creating courses
                            in the group of Applying-focus.</td>
                        <% } else if (course.cBloom === '[2]') {%>
                        <td>C_B2</td>
                        <td>Understanding, Applying, and Analyzing-focus</td>
                        <td>You should concentrate on creating courses in the group of Applying-focus.</td>
                        <% } else {%>
                        <td>C_B3</td>
                        <td>Remembering, Understanding, and Creating-focus</td>
                        <td>You should avoid the courses which focus
                            the group of Remembering,
                            Understanding, and Creating-focus
                            because it presents the lowest
                            percent of the passing learners.
                            The course design should
                            design the Bloom’s taxonomy
                            thinking skill step-by-step.
                            Consequently, learners can’t
                            keep up and do not have enough
                            knowledge to focus on Creating
                            skill that presents the lowest
                            percent of passing learners.</td>
                        <% } %>
                    </tr>
                    <tr>
                      <th scope="row">Number of Conponents</th>
                      <% if (course.cNumCom === '[0]') { %>
                        <td>C_N1</td>
                        <td>Video-focus</td>
                        <td>You should generate courses with Video and HTML-focus.</td>                        
                        <% } else {%>
                        <td>C_N2</td>
                        <td>Video and HTML-focus</td>
                        <td>You are already in the good cluster.</td>
                        <% } %>
                    </tr>
                  </tbody>
                </table>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h5>Please, analyze your course then you will get the suggestions 
                            <a href="/analyzeCourse/<%= course.id %>" class="btn btn-outline-primary" target="_blank">Analyze Course</a></h5>
                    </li>
                    <li class="list-group-item">
                        <h5>For more details, course clustering and the relationship between course structure and learner demonstrate in the following button.
                        <a href="/courseAnalysis" class="btn btn-outline-success" target="_blank">Course Clustering</a>
                        <a href="/relationship" class="btn btn-outline-success" target="_blank">Relationship</a></h5>
                    </li>
  
                  </ul>
                
                
              </div>
              <div class="tab-pane" id="learner" role="tabpanel" aria-labelledby="learner-tab">
                <ul class="list-group">
                  <li class="list-group-item">
                    <b>Passing Learners: </b>
                    <%= course.passLearner %>
                  </li>
                  <li class="list-group-item">
                    <b>Fail Learners: </b>
                    <%= course.failLearner %>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>


      </div>

      <script>
        var cNumber = "<%=course.courseNumber%>";
        var pathCourse = "../data/CSV/" + cNumber + ".csv";
        // Course Structure
        Plotly.d3.csv(pathCourse, function (err, rows) {
          function unpack(rows, key) {
            return rows.map(function (row) { return row[key]; });
          }

          var chapter = {
            x: unpack(rows, 'chapter_indx'),
            y: unpack(rows, 'chapter_indy'),
            name: 'Chapter',
            text: unpack(rows, 'chapter_name'),
            type: 'scatter',
            mode: 'markers',
            marker: { size: 15, symbol: 'line-ns-open', color: 'DarkGray' }
          };

          var video = {
            x: unpack(rows, 'video_indx'),
            y: unpack(rows, 'video_indy'),
            name: 'video',
            text: unpack(rows, 'video_name'),
            type: 'scatter',
            mode: 'markers',
            marker: { size: 15, symbol: 'circle', color: 'green' }
          };

          var html = {
            x: unpack(rows, 'html_indx'),
            y: unpack(rows, 'html_indy'),
            name: 'html',
            text: unpack(rows, 'html_name'),
            type: 'scatter',
            mode: 'markers',
            marker: { size: 15, symbol: 'triangle-up', color: 'orange' }
          };

          var discussion = {
            x: unpack(rows, 'discussion_indx'),
            y: unpack(rows, 'discussion_indy'),
            name: 'discussion',
            text: unpack(rows, 'discussion_name'),
            type: 'scatter',
            mode: 'markers',
            marker: { size: 15, symbol: 'pentagon', color: 'red' }
          };

          var problem = {
            x: unpack(rows, 'problem_indx'),
            y: unpack(rows, 'problem_indy'),
            name: 'problem',
            text: unpack(rows, 'problem_name'),
            type: 'scatter',
            mode: 'markers',
            marker: { size: 15, symbol: 'diamond-tall', color: 'blue' }
          };

          var data = [chapter, video, html, discussion, problem];

          var layout = {
            xaxis: {
              title: 'Index of Component',
              range: [-5.85, 112.07]
            },
            yaxis: {
              title: 'Axis',
              range: [0, 2],
              tickmode: 'linear'
            },
            title: '<%=course.courseName%>'
          };

          Plotly.newPlot('structure', data, layout);
        });

        // Learners
        var pathLearner = "../data/CSV/" + cNumber + "_problemAttempt.csv";
        Plotly.d3.csv(pathLearner, function (err, rows) {
          function unpack(rows, key) {
            return rows.map(function (row) { return row[key]; });
          }
          var learner1 = {
            x: unpack(rows, 'name'),
            y: unpack(rows, 'not attempted'),
            name: 'Not Attempted',
            type: 'bar',
            marker: { color: 'red' }
          };

          var learner2 = {
            x: unpack(rows, 'name'),
            y: unpack(rows, 'attempted'),
            name: 'Attempted',
            type: 'bar',
            marker: { color: 'green' }
          };

          var summary = {
            x: unpack(rows, 'name'),
            y: unpack(rows, 'summary'),
            name: 'Summary',
            text: unpack(rows, 'text'),
            type: 'bar',
            marker: { color: 'gray' }
          };

          var data2 = [learner1, learner2, summary];

          var layout = {
            barmode: 'stack',
            xaxis: {
              title: 'Assignments/Tests',

            },
            yaxis: {
              title: 'Learners Engagement',

            }
          };

          Plotly.newPlot('learners', data2, layout);
        });



      </script>


      <%- include('includes/end.ejs') %>